/*
 * Branding Variables 
 */

/* Typography */
$font-stack: Helvetica Neue,Helvetica,Arial,sans-serif; 
$s-text: 13px;
$m-text: 16px;
$l-text: 24px;
$xl-text: 200px;

/* Colors */
$bg-color: #050505;
$secondary-color: #BSD43C;
$tertiary-color: #D9EF81;
$primary-color: #F7F7F7;
$accent-color: #39ff14;


/*
 * Initial resets / default styles
 */

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #08C;
	transition: all 0.3s ease-out;
	position: relative;
	padding: .5em;
	margin: -.5em;
}

a:hover { 
	color: #0AF; 
}

body {
	background-color: $bg-color;
	color: $primary-color;
	font-family: $font-stack;
}

/*
 * Page Styling
 */

.sidebar {
	position: fixed;
    top: 0;
    width: 100vh;
    height: 10em;
    background: 0 0;
    overflow: hidden;
    display: none;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 100%;
    top: 0;
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

nav {
	display: flex;
	justify-content: center;
    align-items: center;
    width: 100%;

	.nav-item {
		margin: 10px;
	}

	a {
		color: $primary-color;
	}

	a:hover {
		color: $accent-color;
	}
}

section {
	margin: 100px;
}

section.landing {
	h1 {
		margin: 0;
		font-size: $xl-text;
		font-weight: 400;
		max-width: 400px;
	    line-height: 180px;
	}
}

section.about {

}

/* 
 * Media Queries 
 */

@media(min-width: 720px) {
	.sidebar {
		display: flex;
	}
}

